.contactsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  text-align: center;
  color: white;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 42px;
}
.contactsContainer {
  width: 1280px;
  background-color: white;
  height: 590px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 50px;
}
.contactsMap {
  width: 590px;
  height: 590px;
  background-color: brown;
}
.contactsInfo {
  height: 590px;
  width: 686px;
  display: flex;
  justify-content: space-around;
}

.infoAddres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
}
.infoNetwork{
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleInfo {
  height: 22px;
  left: 730px;
  top: 311px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-justify: inter-word;

  color: #07205e;

  opacity: 0.4;
}

.subtitleInfo {
  width: 278px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-top: 10px;
  text-align: justify;
  color: #07205e;
  margin-bottom: 30px;
}
