.active {
  border-bottom: 4px solid white;
  :hover {
    cursor: pointer;
  }
  img {
    transform: scale(1.4);
    transition: transform 0.25s;
    padding: 10px;
  }
}

.inActive {
  border-bottom: 3px solid rgba(255, 255, 255, 0.548);
  transition: border-bottom 0.25s;
  :hover {
    cursor: pointer;
  }
  img {
    transform: scale(1);
    transition: transform 0.25s;
    padding: 10px;
  }
}

.items {
  display: flex;
  justify-content: center;
  div {
    width: 100%;
    text-align: center;
  }
}
