.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  .item {
    color: aliceblue !important;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .titleButton {
      display: flex;
      justify-content: space-around;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid white; // белый бордер
      margin-bottom: 25px;
    }

    td,
    th {
      border: 1px solid white; // белый бордер
      text-align: left;
      padding: 8px;
    }

    td:first-child,
    th:first-child {
      width: 300px; // ширина первого столбца
    }

    td:last-child,
    th:last-child {
      width: 300px; // ширина второго столбца
    }

    tr:not(:first-child) td {
      border-top: 1px solid white; // белый бордер для каждой строки, кроме первой
    }
  }
}
