.wrapper {
  position: absolute;
  padding-top: 25px;
  top:0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.navbar {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
