.wrapper {
  position: absolute;
  padding-top: 25px;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-shadow: 2px 2px #0000002f;
}

.navbar {
  display: flex;
  width: 45%;
  justify-content: space-between;
}
