.wrapper {
  display: flex;
  justify-content: center;
}

.main {
  position: absolute;
  background-color: #072060;
  right: 50%;
  height: fit-content;
  width: fit-content;
  padding: 15px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}
